{% load static %}
<div class="card">
    <div class="card-header" id="{{staff.slug}}_card_heading">
        {% include 'directory/components/avatar-contact.html' %}
        <button class="btn-collapse btn btn-link btn-block text-left" 
        type="button" data-toggle="collapse" 
        data-target="#{{staff.slug}}_detail_body" 
        aria-expanded="false" 
        aria-controls="#{{staff.slug}}_detail_body">
        <i class="fa-chevron-down"></i>
        </button>
    </div>
    <div class="collapse" id="{{staff.slug}}_detail_body" aria-labelledby="#{{staff.slug}}_card_heading">
        {% include 'directory/components/card-body.html' %}
    </div>
</div>