<meta charset="UTF-8">
<meta http-equiv="content-language" content="en-us" >
<meta name="developer" content="Hossein Roshandel">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="Staff Directory">
<meta name="keywords" content="Staff Directory, Staff, Directory, Staff Directory App, Staff Directory Application, Staff Directory Web App, Staff Directory Web Application, Staff Directory Web Application Django, Staff Directory Web App Django, Staff Directory Web Application Django 3, Staff Directory Web App Django 3, Staff Directory Web Application Django 3.2, Staff Directory Web App Django 3.2">
<!-- Social Media Meta Tags -->
<meta property="og:title" content="Staff Directory" />
  <meta property="og:description" content="" />
  <meta property="og:image" content="" />
  <meta name="twitter:card" content="" />
  <meta name="twitter:site" content="" />
  <meta name="twitter:title" content="Staff Directory" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="" />