{% extends "admin/change_form.html" %}

{% block extrahead %}
{{ block.super }}
<script>
'use strict';
django.jQuery(document).ready(
    function () {
        var sourceFields = "{{adminform.fields.slug.widget.attrs.data_source_fields}}".split(",");
        sourceFields = sourceFields.map(function (field) {
                    return django.jQuery("#id_" + field);
                })
        var separator = "{{ adminform.fields.slug.widget.attrs.data_separator }}";

        function updateSlug() {
            const slugify = text => text
                            .toString()
                            .normalize('NFD')
                            .replace(/[\u0300-\u036f]/g, '')
                            .toLowerCase()
                            .trim()
                            .replace(/\s+/g, '-')
                            .replace(/[^\w-]+/g, '')
                            .replace(/--+/g, '-')
                         

            var slugParts = sourceFields.map(
                function (field) {
                    return slugify(field.val());
                }
            );

            var slug = slugParts.join(separator);
            django.jQuery("#id_slug").val(slug);
        }
        sourceFields.forEach(
            function(field){
                field.on('change',updateSlug)
            }
        );
    }
);
</script>
{% endblock %}
