{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block header %}
<head>
    {% block title %}<title>Staff Directory</title> {% endblock %}
    {% block meta %}{% include 'directory/components/meta.html' %}{% endblock %}
    {% block css-style %}{% include 'directory/components/css-links.html' %}{% endblock %}
    {% block js-script-head %}{% endblock %}
</head>
{% endblock %}
<body>
{% block navbar %}
{% include 'directory/components/navbar.html' %}
{% endblock %}

<div class="main-content">
    {% block content %}{% endblock %}
</div>
</body>
{% block footer %}
<footer>
    {% include 'directory/components/footer.html' %}
</footer>
{% endblock %}
{% block js-script-footer %}
{% include 'directory/components/js-scripts-footer.html' %}
{% endblock %}
</html>